/*barra de navegacion*/
nav{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}
header nav ul li a{
    text-decoration: none;
    color: rgb(208, 9, 42);
    border-top: 1rem;
    border-left: ;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center
}

nav ul li{
    text-decoration: none;
    text-align: center;
    margin-right: 50px;
   }

/* header */
header{

}

body .parrafo{
    background-color: pink

    margin: 1rem;
    padding: 1rem;


}
/*imagenes*/
body header .imagenes img{
    width: 25%;
    height: 10%;
   }

   body header .imagenes{
    display: flex;
    flex-direction: column;
    justify-content: center;
   }

.main1 img {
    width: 100px;
    height: 100px;
}
 body main .productos .imagen{
    width: 10%;
    height: auto;
    margin: 1rem;
    padding: 1rem;
    border-radius: 15%;
}
body main .productos{

    display: flex;
    flex-direction: column;
    justify-content: center;
    object-fit: cover;
    
}

/*body*/
body{
    background-color:#efedeb;
    text-align: center;
    font-family: "Merriweather", serif;  
}
.footer{
    text-align: center;
    padding: 1rem;
    margin: auto;
    border: auto;
}
body #imagenes{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;

}


/* mq desktop*/
@media screen {min-width: 1024px;
          
}